body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid blue;
}

.sidebar{
  width: 25%;
  border: 3px solid red;
}

.main {
  width: 50%;
  border: 3px solid purple;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.game-square {
  border: 3px solid green;
}
